main {
  width: 100%;
  height: 100%;
  padding: 4rem;
}

main .card-section {
  width: 100%;
  margin-bottom: 4rem;
}

main .shop-list-section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

@media screen and (max-width: 720px) {
  main {
    padding: 2rem;
  }
}

@media screen and (max-width: 410px) {
  main {
    padding: 1rem;
  }
}
