.shop-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #c9c9c9;
}

.shop-item img {
  height: 200px;
}

.shop-item figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.5rem 1rem;
  height: 100px;
  width: 100%;
  background: #c9c9c9;
}

.shop-item figcaption p {
  margin-bottom: 0.3rem;
}

.shop-item figcaption button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 0.2rem;
}

.shop-item figcaption button:hover {
  background: var(--red);
}
