*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
ul {
  margin-top: 20px;
  margin-left: 20px;
}

ul {
  width: fit-content;
  list-style: none;
}

.list-item {
  width: auto;
  margin-bottom: 5px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid blue;
  border-radius: 5px;
}
p {
  margin-right: 20px;
}
.delete-btn {
  padding: 3px 7px;
}
