.header {
  height: 10%;
  background: #f9f9f9;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  color: var(--main-color);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.header p {
  font-size: 2rem;
}

.header p span {
  margin-right: 1rem;
}
