@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;600;700&display=swap');

:root {
  --black: #333;
  --red: #ed2025;
}

html {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  border: none;
}

header {
  height: 10vh;
  background: var(--black);
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
}
